<!DOCTYPE html>
<html ng-app="todoApp">
<head>
	<title>Angular To Do List</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
	<script src="app.js"></script>
</head>
<body ng-controller="TodoListController">
	<h1>My To Do List</h1>
	<ul>
		<li ng-repeat="todo in toDoItems">
			<label class="checkbox">
				<input type="checkbox" ng-model="todo.done" ng-click="onChange()" />
					<span>{{todo.name}}</span>
			</label>
		</li>
	</ul>
</body>
</html>